TOKEN = "SUPERSECRET"
LOG_CHANNEL_ID = 1234567890
SUPABASE_URL = "https://your-supabase-url.supabase.co"
SUPABASE_KEY = "your-supabase-key"
PROTECTED_ROLE_ID = 1512466821285154917
IMMUNE_BYPASS_ROLE_ID = 1469036732199469092